#guide {
    background-color: black;
}

.title {
    background-color: white;
    color: rgb(30, 30, 30);

}

.yuji-syuku-regular {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
  }
  